<div class="body page-index clearfix">
    <div class="lead clearfix">
        <div class="lead-wrapper clearfix">
          <p class="lead-text">Here, we care about your process.</p>
          <%= image_tag("geometry@2x.png", class: "lead-image") %>
        </div>
        <p class="lead-support-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
      </div>
      <div class="what clearfix">
        <div class="what-wrapper clearfix">
          <p class="what-text">What this is.</p>
        </div>
        <%= image_tag("mac@2x.png", class: "share-image-mac") %>
        <%= image_tag("t-oval@2x.png", class: "share-image-oval") %>
        <div class="share-wrapper clearfix">
          <p class="share-lead-text">Share your work.</p>
          <p class="share-support-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
        </div>
      </div>
      <div class="how clearfix">
        <div class="how-wrapper clearfix">
          <p class="how-lead-text">How it works.</p>
        </div>
        <div class="upload clearfix">
          <p class="upload-a-dip">Upload a DIP.</p>
          <p class="upload-support-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. </p>
        </div>
        <div class="review clearfix">
          <p class="review-feedback">Review Feedback.</p>
          <p class="review-support-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. </p>
        </div>
        <div class="iterate iterate-1 clearfix">
          <p class="iterate">Iterate with a new Step.</p>
          <p class="iterate-support-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. </p>
        </div>
        <div class="how-story clearfix">
          <img class="story-image" src="/assets/images/story@2x.png">
        </div>
      </div>
      <div class="why clearfix">
        <div class="why-wrapper clearfix">
          <p class="why-text">Why we do this.</p>
        </div>
        <img class="why-image" src="images/why-image@2x.png">
        <div class="early-wrapper clearfix">
          <p class="early-lead-text">Early Feedback.</p>
          <p class="feedback-support-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
          <button id="nav-sign-up" class="nav-sign-up">Sign up</button>
        </div>
    </div>
</div>