<%= render 'shared/errors', obj: @step %>

<%= form_for @step, :html => { multipart: true } do |f| %>
    <div class="step-image-upload-div">
        <%= render 'dips/step_images_upload', f: f %>
    </div>
    
    <div class="step-details-div">
        <%= render 'step_details', f: f %>
    </div>
<% end %>
