<div class="row">
    <div class="col col-md-8">
        <div class="step_image_parent" style="position:relative">
            <% if step.step_elements.length > 1 %>
                <%= carousel_for(step_images(step)) %>    
            <% else %>
                <%= image_tag(image_url(step.step_elements.first.image.url(:md_display))) %>
            <% end %>
        </div>
    </div>
    <% if source == 'dip' %>
        <div class="col col-md-2">
            <% if logged_in? && step.dip.user == current_user %>
                <%= link_to step_path(step), method: :delete, data: { confirm: 'Are you sure?'} do %>
                    <span class="glyphicon glyphicon-trash"></span>
                <% end %>
            <% end %>
        </div>
    <% end %>
</div>
<div class="row">
    <div class="col col-md-7">
        <p><%= step.description %></p>
    </div>
    <div class="col col-md-5">
    </div>
</div>