$(document).ready(function(){
    $('img').click(showCommentPrompt);
});

function showCommentPrompt(e) {
    var parentOffset = $(this).parent().offset(); 
    var relX = e.pageX - parentOffset.left;
    var relY = e.pageY - parentOffset.top;
}

function addNewCommentDot() {
    var imgStr = '<div style="position:absolute;margin-top:' + relY + 'px;margin-left:' + relX + 'px" ><img class="commentDot" src="<%= asset_path('commentDot.png') %>" /></div>';
    $(this).parent().prepend(imgStr);
}
