<%= render 'shared/errors', obj: @dip %>

<%= form_for @dip, :html => { multipart: true } do |f| %>
    
    <div class="step-image-upload-div">
        <%= render 'step_images_upload', f: f %>
    </div>
    
    <div class="step-details-div">
        <%= render 'step_details', f: f %>
    </div>

<% end %>