<div class="row">
    <div class="col col-md-7">
        <%= carousel_for(step_images(step)) %>    
    </div>
    <div class="col col-md-5">
        <%= step.description %>    
    </div>
    
</div>

