.body {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.early-lead-text {
  float: left;
  width: 49.0105540897%;
  min-height: 150px;
  margin: 448px 0 0 48.40864%;
  font-size: 5.875em;
  font-weight: 700;
  line-height: 0.78;
  color: #2a2a2a;
}

.early-wrapper {
  position: relative;
  float: right;
  clear: both;
  z-index: 3;
  width: 78.9583333333%;
  height: 1099px;
  margin: -999px 0.9375% 0 0;
  background-color: #f8e71c;
}

.feedback-support-text {
  float: left;
  clear: both;
  width: 38.2585751978%;
  min-height: 50px;
  margin: 53px 0 0 52.60451%;
  font-size: 1em;
  color: #2a2a2a;
}

.how {
  float: left;
  clear: both;
  width: 100%;
  height: 2943px;
  margin-top: 283px;
}

.how-lead-text {
  float: left;
  width: 100.1908396946%;
  min-height: 68px;
  margin: 17px 0 0 -0.19084%;
  font-size: 6.917em;
  font-weight: 700;
  line-height: 0.68;
  color: #2a2a2a;
}

.how-story {
  position: relative;
  float: left;
  clear: both;
  z-index: 9;
  width: 78.340657552%;
  height: 2725px;
  margin: -2590px 0 0 20.54688%;
  background-color: #f4f4f4;
}

.how-wrapper {
  position: relative;
  float: left;
  z-index: 20;
  width: 27.2916666666%;
  height: 431px;
  margin-left: 0.82764%;
  background-color: #ffa544;
}

.iterate {
  float: left;
}

.iterate .iterate {
  width: 111.0378912685%;
  min-height: 161px;
  font-size: 5.875em;
  font-weight: 700;
  line-height: 0.88;
  color: rgb(0, 0, 0);
}

.iterate-support-text {
  float: left;
  clear: both;
  width: 78.5829182233%;
  min-height: 50px;
  margin: 60px 0 0 12.02379%;
  font-size: 1em;
  line-height: 1.18;
  color: rgb(0, 0, 0);
}

.lead {
  float: left;
  width: 100%;
  height: 1313px;
}

.lead-image {
  display: block;
  position: relative;
  float: left;
  clear: both;
  z-index: 31;
  width: 697px;
  height: auto;
  margin: -699px 0 0 52.86377%;
  overflow: hidden;
}

.lead-support-text {
  float: left;
  clear: both;
  width: 30.2083333333%;
  min-height: 50px;
  margin: 151px 0 0 10.41667%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.lead-text {
  position: relative;
  float: left;
  z-index: 32;
  width: 55.78125%;
  min-height: 45px;
  margin: 742px 0 0 7.01742%;
  font-size: 6.917em;
  font-weight: 700;
  line-height: 0.63;
  color: rgb(0, 0, 0);
}

.lead-wrapper {
  float: left;
  width: 100%;
  height: 997px;
  background-color: #f4f4f4;
}

.lead-wrapper:active {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.nav-sign-up {
  width: 240px;
  height: 61px;
  border: 1px solid #ff0051;
  border-radius: 3px;
  background-color: #ff0051;
  text-align: center;
  color: #2a2a2a;
}

.nav-log-in {
  width: 240px;
  height: 61px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  background-color: #ffffff;
  text-align: center;
  color: rgb(0, 0, 0);
}

.review {
  position: relative;
  float: left;
  clear: both;
  z-index: 15;
  width: 35.5729166666%;
  height: 412px;
  margin: 328px 0 0 6.82129%;
}

.review-feedback {
  float: left;
  width: 130.0573397902%;
  min-height: 161px;
  margin-left: -0.47127%;
  font-size: 5.875em;
  font-weight: 700;
  line-height: 0.98;
  color: rgb(0, 0, 0);
}

.review-support-text {
  float: left;
  clear: both;
  width: 88.0228136882%;
  min-height: 50px;
  margin: 24px 0 0 11.76565%;
  font-size: 1em;
  line-height: 1.18;
  color: rgb(0, 0, 0);
}

.share-image-mac {
  display: block;
  position: relative;
  float: left;
  clear: both;
  z-index: 28;
  width: 600px;
  height: auto;
  margin: 365px 0 0 11.14502%;
  overflow: hidden;
}

.share-image-oval {
  display: block;
  position: relative;
  float: left;
  clear: both;
  z-index: 27;
  width: 375px;
  height: auto;
  margin: -279px 0 0 28.11768%;
  overflow: hidden;
}

.share-lead-text {
  float: left;
  width: 49.0105540897%;
  min-height: 150px;
  margin: 600px 0 0 41.31452%;
  font-size: 5.875em;
  font-weight: 700;
  line-height: 0.78;
  color: #ffffff;
}

.share-support-text {
  float: left;
  clear: both;
  width: 38.2585751978%;
  min-height: 50px;
  margin: 53px 0 0 51.48726%;
  font-size: 1em;
  color: #ffffff;
}

.share-wrapper {
  position: relative;
  float: right;
  clear: both;
  z-index: 24;
  width: 78.9583333333%;
  height: 1099px;
  margin: -1145px 0.93913% 0 0;
  background-color: #2a2a2a;
}

.story-image {
  display: block;
  float: left;
  width: 984px;
  height: auto;
  margin: 292px 0 0 27.87514%;
  overflow: hidden;
}

.upload {
  position: relative;
  float: left;
  clear: both;
  z-index: 18;
  width: 27.3901367187%;
  height: 412px;
  margin: 148px 0 0 6.71875%;
}

.upload-a-dip {
  float: left;
  width: 90.114068441%;
  min-height: 161px;
  font-size: 5.875em;
  font-weight: 700;
  line-height: 0.98;
  color: rgb(0, 0, 0);
}

.upload-support-text {
  float: left;
  clear: both;
  width: 88.0228136882%;
  min-height: 50px;
  margin: 24px 0 0 11.94997%;
  font-size: 1em;
  line-height: 1.18;
  color: rgb(0, 0, 0);
}

.what {
  float: left;
  clear: both;
  width: 100%;
  height: 1389px;
  margin-top: 349px;
}

.what-text {
  float: left;
  width: 100.1908396946%;
  min-height: 68px;
  margin: 26px 0 0 0.76336%;
  font-size: 6.917em;
  font-weight: 700;
  line-height: 0.68;
  color: #2a2a2a;
}

.what-wrapper {
  position: relative;
  float: left;
  z-index: 26;
  width: 27.2916666666%;
  height: 431px;
  margin-left: 0.83252%;
  background-color: #fc145e;
}

.why {
  float: left;
  clear: both;
  width: 100%;
  height: 1459px;
  margin-top: 113px;
}

.why-image {
  display: block;
  position: relative;
  float: left;
  clear: both;
  z-index: 4;
  width: 873px;
  height: auto;
  margin: 278px 0 0 9.38721%;
  overflow: hidden;
}

.why-text {
  float: left;
  width: 100.1908396946%;
  min-height: 68px;
  margin: 14px 0 0 0.93929%;
  font-size: 6.917em;
  font-weight: 700;
  line-height: 0.78;
  color: #2a2a2a;
}

.why-wrapper {
  position: relative;
  float: left;
  z-index: 6;
  width: 27.2916666666%;
  height: 431px;
  margin-left: 0.82764%;
  background-color: #50e3c2;
}

.iterate-1 {
  position: relative;
  clear: both;
  z-index: 12;
  width: 31.6145833333%;
  height: 744px;
  margin: 334px 0 0 6.97917%;
}

@media(max-width: 1802px) {
  .early-wrapper .early-lead-text {
    margin-left: 48.4082099999%;
    font-size: 5.625em;
  }

  .early-wrapper .feedback-support-text {
    margin-left: 52.6043%;
  }

  .early-wrapper .nav-sign-up {
    margin-left: 52.57245%;
  }

  .how {
    height: 3061px;
  }

  .how .how-story {
    position: relative;
    z-index: 9;
    width: 78.3400388457%;
    height: 2436px;
    margin-top: -2473px;
    margin-left: 20.54488%;
  }

  .how .how-wrapper {
    position: relative;
    z-index: 20;
    height: 359px;
    margin-left: 0.82721%;
  }

  .how .review {
    position: relative;
    z-index: 15;
    margin-left: 6.82055%;
  }

  .how .upload {
    position: relative;
    z-index: 18;
    margin-left: 6.71823%;
  }

  .how-story .story-image {
    height: auto;
    margin-top: 174px;
    margin-left: 27.87223%;
  }

  .how-wrapper .how-lead-text {
    margin-left: -0.19063%;
    font-size: 6.375em;
  }

  .iterate .iterate {
    width: 117.957166392%;
    font-size: 5.625em;
  }

  .iterate .iterate-support-text {
    margin-left: 12.01591%;
  }

  .lead {
    height: 1287px;
  }

  .lead .lead-support-text {
    width: 31.576026637%;
    margin-top: 143px;
    margin-left: 10.43199%;
  }

  .lead .lead-wrapper {
    height: 979px;
  }

  .lead-wrapper .lead-image {
    position: relative;
    z-index: 31;
    height: auto;
    margin-top: -681px;
    margin-left: 56.91333%;
  }

  .lead-wrapper .lead-text {
    position: relative;
    z-index: 32;
    width: 60.1553829078%;
    margin-top: 726px;
    margin-left: 6.9905%;
    font-size: 6.542em;
  }

  .review .review-feedback {
    width: 97.8135283363%;
    margin-left: -0.44851%;
    font-size: 5.625em;
  }

  .review .review-support-text {
    margin-left: 11.76356%;
  }

  .share-wrapper .share-lead-text {
    width: 52.1496579216%;
    margin-top: 570px;
    margin-left: 41.235%;
    font-size: 5.625em;
  }

  .share-wrapper .share-support-text {
    margin-left: 45.7177099999%;
  }

  .upload .upload-a-dip {
    font-size: 5.625em;
  }

  .upload .upload-support-text {
    margin-left: 11.94758%;
  }

  .what {
    height: 1342px;
    margin-top: 252px;
  }

  .what .share-image-mac {
    position: relative;
    z-index: 28;
    height: auto;
    margin-left: 11.14474%;
  }

  .what .share-image-oval {
    position: relative;
    z-index: 27;
    height: auto;
    margin-top: -326px;
    margin-left: 28.1172%;
  }

  .what .share-wrapper {
    position: relative;
    z-index: 24;
    width: 78.9582755271%;
    margin-top: -1126px;
    margin-right: 0.93733%;
  }

  .what .what-wrapper {
    position: relative;
    z-index: 26;
    height: 359px;
    margin-left: 0.83241%;
  }

  .what-wrapper .what-text {
    width: 116.5152189108%;
    margin-left: 0.81337%;
    font-size: 6.375em;
  }

  .why {
    height: 1358px;
    margin-top: 109px;
  }

  .why .early-wrapper {
    position: relative;
    z-index: 3;
    margin-top: -1028px;
    margin-right: 0.93733%;
  }

  .why .why-image {
    position: relative;
    z-index: 4;
    width: 735px;
    height: auto;
    margin-left: 7.44052%;
  }

  .why .why-wrapper {
    position: relative;
    z-index: 6;
    height: 359px;
    margin-left: 0.82721%;
  }

  .why-wrapper .why-text {
    margin-left: 0.93093%;
    font-size: 6.375em;
  }

  .how .iterate-1 {
    position: relative;
    z-index: 12;
    margin-left: 6.97836%;
  }
}

@media(max-width: 1680px) {
  .body {
    font-size: 1.5em;
  }

  .early-wrapper .early-lead-text {
    margin-top: 468px;
    margin-left: 48.40629%;
    font-size: 5.208em;
  }

  .early-wrapper .feedback-support-text {
    margin-left: 52.60319%;
  }

  .early-wrapper .nav-sign-up {
    margin-left: 52.57138%;
  }

  .how {
    height: 2917px;
  }

  .how .how-story {
    position: relative;
    z-index: 9;
    width: 64.2361111111%;
    margin-top: -2616px;
    margin-left: 20.52269%;
  }

  .how .how-wrapper {
    position: relative;
    z-index: 20;
    margin-left: 0.80543%;
  }

  .how .review {
    position: relative;
    z-index: 15;
    margin-left: 4.89397%;
  }

  .how .upload {
    position: relative;
    z-index: 18;
    margin-left: 4.81306%;
  }

  .how-story .story-image {
    height: auto;
    margin-top: 305px;
    margin-left: 27.87189%;
  }

  .how-wrapper .how-lead-text {
    margin-left: -0.19084%;
    font-size: 5.958em;
  }

  .iterate .iterate,
  .upload .upload-a-dip {
    font-size: 5.208em;
  }

  .iterate .iterate-support-text {
    margin-left: 12.01165%;
  }

  .lead .lead-support-text {
    margin-top: 108px;
    margin-left: 9.8363099999%;
  }

  .lead-wrapper .lead-image {
    position: relative;
    z-index: 31;
    height: auto;
    margin-top: -660px;
    margin-left: 55.30599%;
  }

  .lead-wrapper .lead-text {
    position: relative;
    z-index: 32;
    width: 60.7142857142%;
    margin-top: 729px;
    margin-left: 6.12165%;
    font-size: 5.208em;
  }

  .review .review-feedback {
    margin-left: -0.4497%;
    font-size: 5.208em;
  }

  .review .review-support-text {
    margin-left: 11.76271%;
  }

  .share-wrapper .share-lead-text {
    width: 54.1280405206%;
    margin-left: 41.25096%;
    font-size: 4.792em;
  }

  .share-wrapper .share-support-text {
    margin-left: 45.71765%;
  }

  .upload .upload-support-text {
    margin-left: 11.94608%;
  }

  .what {
    margin-top: 262px;
  }

  .what .share-image-mac {
    position: relative;
    z-index: 28;
    height: auto;
    margin-left: 11.1077%;
  }

  .what .share-image-oval {
    position: relative;
    z-index: 27;
    height: auto;
    margin-left: 28.11663%;
  }

  .what .share-wrapper {
    position: relative;
    z-index: 24;
    margin-right: 0.93657%;
  }

  .what .what-wrapper {
    position: relative;
    z-index: 26;
    margin-left: 0.7952%;
  }

  .what-wrapper .what-text {
    width: 101.6357688113%;
    margin-left: 0.87582%;
    font-size: 6.042em;
  }

  .why .early-wrapper {
    position: relative;
    z-index: 3;
    margin-right: 0.93657%;
  }

  .why .why-image {
    position: relative;
    z-index: 4;
    height: auto;
    margin-left: 3.43843%;
  }

  .why .why-wrapper {
    position: relative;
    z-index: 6;
    margin-left: 0.81566%;
  }

  .why-wrapper .why-text {
    margin-left: 0.92694%;
    font-size: 5.208em;
  }

  .how .iterate-1 {
    position: relative;
    z-index: 12;
    margin-left: 5.05208%;
  }
}

@media(max-width: 1440px) {
  .early-wrapper .early-lead-text {
    width: 43.4476693051%;
    margin-top: 528px;
    margin-left: 50.94822%;
    font-size: 4.167em;
  }

  .early-wrapper .feedback-support-text {
    margin-top: 39px;
    margin-left: 56.02188%;
  }

  .early-wrapper .nav-sign-up {
    margin-left: 56.26237%;
  }

  .how {
    height: 2539px;
    margin-top: 305px;
    margin-left: -4.23503%;
  }

  .how .how-story {
    position: relative;
    z-index: 9;
    margin-top: -2204px;
    margin-left: 34.65169%;
  }

  .how .how-wrapper {
    position: relative;
    z-index: 20;
    margin-left: 0.82574%;
  }

  .how .review {
    position: relative;
    z-index: 15;
    width: 35.5555555555%;
    height: 389px;
    margin-top: 221px;
    margin-left: 8.2487%;
  }

  .how .upload {
    position: relative;
    z-index: 18;
    margin-top: 141px;
    margin-left: 8.13043%;
  }

  .how-story .story-image {
    width: 852px;
    height: auto;
    margin-top: 297px;
    margin-left: 12.34291%;
  }

  .how-wrapper .how-lead-text {
    font-size: 5.208em;
  }

  .iterate .iterate {
    margin-left: -0.00687%;
    font-size: 4.583em;
  }

  .iterate .iterate-support-text {
    margin-top: 24px;
    margin-left: 12.00893%;
  }

  .lead {
    height: 1313px;
  }

  .lead .lead-support-text {
    margin-left: 9.83507%;
  }

  .lead-wrapper .lead-image {
    position: relative;
    z-index: 31;
    height: auto;
    margin-top: -629px;
    margin-left: 48.22266%;
  }

  .lead-wrapper .lead-text {
    position: relative;
    z-index: 32;
    width: 56.6666666666%;
    margin-top: 793px;
    margin-left: 5.54362%;
  }

  .review .review-feedback {
    margin-top: 14px;
    margin-left: -0.44861%;
    font-size: 4.583em;
  }

  .review .review-support-text {
    margin-left: 11.7523199999%;
  }

  .share-wrapper .share-lead-text {
    width: 56.5531078648%;
    margin-left: 41.81703%;
  }

  .share-wrapper .share-support-text {
    margin-left: 47.7373%;
  }

  .upload .upload-a-dip {
    font-size: 4.583em;
  }

  .upload .upload-support-text {
    margin-left: 11.94438%;
  }

  .what {
    margin-top: 252px;
  }

  .what .share-image-mac {
    position: relative;
    z-index: 28;
    height: auto;
    margin-top: 437px;
    margin-left: 6.89996%;
  }

  .what .share-image-oval {
    position: relative;
    z-index: 27;
    height: auto;
    margin-left: 24.99132%;
  }

  .what .share-wrapper {
    position: relative;
    z-index: 24;
    margin-top: -1164px;
    margin-right: 0.93533%;
  }

  .what .what-wrapper {
    position: relative;
    z-index: 26;
    margin-left: 0.83225%;
  }

  .what-wrapper .what-text {
    margin-left: 0.1153%;
    font-size: 5.208em;
  }

  .why .early-wrapper {
    position: relative;
    z-index: 3;
    margin-top: -1013px;
    margin-right: 0.93533%;
  }

  .why .why-image {
    position: relative;
    z-index: 4;
    height: auto;
    margin-top: 342px;
    margin-left: 4.14063%;
  }

  .why .why-wrapper {
    position: relative;
    z-index: 6;
    margin-left: 0.82574%;
  }

  .why-wrapper .why-text {
    margin-left: 0.92637%;
  }

  .how .iterate-1 {
    position: relative;
    z-index: 12;
    width: 31.5972222222%;
    height: 526px;
    margin-top: 261px;
    margin-left: 8.3941%;
  }
}

@media(max-width: 1280px) {
  .body {
    font-size: 1.125em;
  }

  .early-wrapper .early-lead-text {
    margin-top: 303px;
    margin-left: 50.94894%;
    font-size: 4.444em;
  }

  .early-wrapper .feedback-support-text {
    margin-top: 32px;
    margin-left: 56.02127%;
    font-size: 18px;
  }

  .early-wrapper .nav-sign-up {
    margin-left: 56.26236%;
    font-size: 1.333em;
  }

  .how {
    height: 2231px;
    margin-top: 180px;
    margin-left: 0;
  }

  .how .how-story {
    position: relative;
    z-index: 9;
    width: 79.53125%;
    height: 2093px;
    margin-top: -2093px;
    margin-left: 18.35938%;
  }

  .how .how-wrapper {
    position: relative;
    z-index: 20;
    width: 25.0799999999%;
    height: 289px;
    margin-left: 0.85938%;
  }

  .how .review {
    position: relative;
    z-index: 15;
    margin-top: 213px;
    margin-left: 2.5%;
  }

  .how .upload {
    position: relative;
    z-index: 18;
    margin-left: 2.5%;
  }

  .how-story .story-image {
    height: auto;
    margin-top: 206px;
    margin-left: 14.9957%;
  }

  .how-wrapper .how-lead-text {
    margin-left: -0.18983%;
    font-size: 5.556em;
  }

  .iterate .iterate {
    width: 96.1829701746%;
    margin-left: 0;
    font-size: 4.444em;
  }

  .iterate .iterate-support-text {
    margin-top: 30px;
    margin-left: 0;
    font-size: 18px;
  }

  .lead {
    height: 889px;
  }

  .lead .lead-support-text {
    width: 46.171875%;
    margin-top: 84px;
    margin-left: 9.84375%;
    font-size: 1.333em;
  }

  .lead .lead-wrapper {
    height: 642px;
  }

  .lead-wrapper .lead-image {
    position: relative;
    z-index: 31;
    width: 483px;
    height: auto;
    margin-top: -461px;
    margin-left: 47.03125%;
  }

  .lead-wrapper .lead-text {
    position: relative;
    z-index: 32;
    width: 51.2499999999%;
    margin-top: 463px;
    margin-left: 5.54688%;
    font-size: 5.556em;
  }

  .review .review-feedback {
    margin-left: 0;
    font-size: 4.444em;
  }

  .review .review-support-text {
    width: 69.6535860198%;
    margin-top: 30px;
    margin-left: -0.0412%;
    font-size: 18px;
  }

  .share-wrapper .share-lead-text {
    width: 48.1175390266%;
    margin-top: 319px;
    margin-left: 48.20937%;
    font-size: 5.556em;
  }

  .share-wrapper .share-support-text {
    width: 39.9449035812%;
    margin-left: 52.43343%;
    font-size: 18px;
  }

  .upload .upload-a-dip {
    font-size: 4.444em;
  }

  .upload .upload-support-text {
    width: 88%;
    margin-top: 30px;
    margin-left: 0;
    font-size: 18px;
  }

  .what {
    height: 892px;
    margin-top: 180px;
  }

  .what .share-image-mac {
    position: relative;
    z-index: 28;
    width: 486px;
    height: auto;
    margin-top: 178px;
    margin-left: 3.82813%;
  }

  .what .share-image-oval {
    position: relative;
    z-index: 27;
    width: 309px;
    height: auto;
    margin-top: -282px;
    margin-left: 25.23438%;
  }

  .what .share-wrapper {
    position: relative;
    z-index: 24;
    width: 85.078125%;
    height: 719px;
    margin-top: -751px;
    margin-right: 0.9375%;
  }

  .what .what-wrapper {
    position: relative;
    z-index: 26;
    width: 25.078125%;
    height: 289px;
    margin-top: -4px;
    margin-left: 0.85938%;
  }

  .what-wrapper .what-text {
    margin-left: 0.10709%;
    font-size: 5.556em;
  }

  .why {
    height: 1113px;
    margin-top: 75px;
  }

  .why .early-wrapper {
    position: relative;
    z-index: 3;
    width: 78.984375%;
    height: 868px;
    margin-top: -744px;
    margin-right: 0.9375%;
  }

  .why .why-image {
    position: relative;
    z-index: 4;
    width: 664px;
    height: auto;
    margin-top: 150px;
  }

  .why .why-wrapper {
    position: relative;
    z-index: 6;
    width: 25.0799999999%;
    height: 289px;
    margin-left: 0.85938%;
  }

  .why-wrapper .why-text {
    margin-left: 0.92967%;
    font-size: 5.556em;
  }

  .how .iterate-1 {
    position: relative;
    z-index: 12;
    margin-left: 2.5%;
  }
}