.navbar-image-house {
    margin: 0px;
    margin: 20px;
    //position: absolute;
}

.logo-black-bg {
    background-color: #000000;
    padding: 48px 37px;
}

.navbar {
	height: 87px;
	background-color: #ffffff;
	border: none;
	border-radius: 0px;
	margin: 0px;
	position: absolute;
	width: 100%;
	padding: 0px;
	//border: black 2px solid;
}

.navbar-default {
    padding: 0px;
}